* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    html,body {
    height: 100%;
    width: 100%;
    }
    
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .count{
        background-color: rgb(150, 138, 227);
        height: 400px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        flex-direction: column;
    }
    
    h3{
       font-size: 50px;
       font-weight: 900;
    }
    
    #plusbtn{
        background-color: rgb(255, 255, 255);
        border: none;
        border-radius: 20px;
        height: 60px;
        width: 60px;
        margin: 20px;
    }
    
    #minusbtn{
        background-color: rgb(255, 255, 255);
        border: none;
        border-radius: 20px;
        height: 60px;
        width: 60px;
        margin: 20px;
    }
    
    button:disabled{
        opacity: 0.5;
        cursor: not-allowed;
    }